# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Flask
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env

# VS Code / IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
